{% extends 'lyout.html' %}
{% load static %}
{% block body %}
<div class="hero_area">
  <!-- header section strats -->
  <header class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="index.html">
          <span>
            BTech
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  ">
            <li class="nav-item active">
              <a class="nav-link " href="/index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about"> About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/contact">Contact Us</a>
            </li>
            <form class="form-inline">
              <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>
          </ul>
          <div class="quote_btn-container">
            <a href="" class="quote_btn">
              Get A Quote
            </a>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->
  <!-- slider section -->
  <section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container ">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="detail-box">
                  <h1>
                    Basic computer course
                  </h1>
                  <p>
                    Aenean scelerisque felis ut orci condimentum laoreet. Integer nisi nisl, convallis et augue sit
                    amet, lobortis semper quam.
                  </p>
                  <div class="btn-box">
                    <a href="/contact" class="btn1">
                      Contact Us
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="container ">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="detail-box">
                  <h1>
                    Business Solution Experts
                  </h1>
                  <p>
                    Aenean scelerisque felis ut orci condimentum laoreet. Integer nisi nisl, convallis et augue sit
                    amet, lobortis semper quam.
                  </p>
                  <div class="btn-box">
                    <a href="/contact" class="btn1">
                      Contact Us
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="container ">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="detail-box">
                  <h1>
                    Online teching
                  </h1>
                  <p>
                    Aenean scelerisque felis ut orci condimentum laoreet. Integer nisi nisl, convallis et augue sit
                    amet, lobortis semper quam.
                  </p>
                  <div class="btn-box">
                    <a href="/contact" class="btn1">
                      Contact Us
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#customCarousel1" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#customCarousel1" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#customCarousel1" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
      </div>
  </section>
  <!-- end slider section -->
</div>
<!-- about section -->
<section class="about_section layout_padding">
  <div class="container  ">
    <div class="row">
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              About Us
            </h2>
          </div>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
            in some form, by injected humour, or randomised words which don't look even slightly believable. If you
            are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
            the middle of text. All
          </p>
          <a href="">
            Read More
          </a>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="img-box">
          <img src="{% static 'images/about-img.png'%} " alt="">
        </div>
      </div>

    </div>
  </div>
</section>

<!-- end about section -->
<!-- service section -->
<section class="service_section layout_padding">
  <div class="container-fluid">
    <div class="heading_container">
      <h2>
        Our Services
      </h2>
      <p>
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>

    <div class="service_container">
      {% for services in service %}
      <div class="box">
        <div class="img-box">
          <img src="{{ services.image.url }} " alt="Img">
        </div>
        <div class="detail-box">
          <h5>
            {{ services.title }}
          </h5>
          <p>
            {{ services.para| truncatechars:80 }}
          </p>
        </div>
      </div>
      {% endfor %}

    </div>
    <div class="btn-box">
      <a href="/services">
        See More
      </a>
    </div>

  </div>

</section>
<!-- end service section -->

<!-- client section -->
<section class="client_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Testimonial
      </h2>
    </div>
  </div>
  <div id="customCarousel2" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-md-10 mx-auto">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'images/client.jpg' %} " alt="">
                </div>
                <div class="detail-box">
                  <div class="client_info">
                    <div class="client_name">
                      <h5>
                        Morojink
                      </h5>
                      <h6>
                        Customer
                      </h6>
                    </div>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum
                    dolore eu fugia
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    {% comment %} <ol class="carousel-indicators">
      <li data-target="#customCarousel2" data-slide-to="0" class="active"></li>
      <li data-target="#customCarousel2" data-slide-to="1"></li>
      <li data-target="#customCarousel2" data-slide-to="2"></li>
    </ol> {% endcomment %}
  </div>
</section>
<!-- end client section -->

<!-- Blog section -->

<section class="news_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Latest News
      </h2>
    </div>
    <div class="row">
      {% for blog in blogs %}
      <div class="col-md-6 col-lg-4 mx-auto">
        <div class="box">
          <div class="img-box">
            <img src="{{ blog.bimg.url }} " alt="">
          </div>
          <div class="detail-box">
            <h5>
              {{blog.title}}
            </h5>
            <p>
              {{blog.content| truncatechars:80}}
            </p>
            <a href="/blog/{{blog.slug}}">
              <span>
                Read More
              </span>
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- end news section -->

<!-- contact section -->
<section class="contact_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Contact Us
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      </p>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form_container">
          <form action="">
            <div>
              <input type="text" placeholder="Your Name" />
            </div>
            <div>
              <input type="text" placeholder="Phone Number" />
            </div>
            <div>
              <input type="email" placeholder="Email" />
            </div>
            <div>
              <input type="text" class="message-box" placeholder="Message" />
            </div>
            <div class="btn_box">
              <button>
                SEND
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="img-box">
          <img src="{% static 'images/contact-img.png' %} " alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end contact section -->

<!-- info section -->

<section class="info_section layout_padding2">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-2">
        <div class="info_link_box">
          <h4>
            Links
          </h4>
          <div class="info_links">
            <a class="" href="/">
              Home
            </a>
            <a class="" href="/about">
              About
            </a>
            <a class="" href="/services">
              Services
            </a>
            <a class="" href="/news">
              News
            </a>
            <a class="active" href="/contact">
              Contact Us
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ">
        <div class="info_detail">
          <h4>
            About
          </h4>
          <p>
            Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin
            words, combined with a handful
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ml-auto">
        <div class="info_contact">
          <h4>
            Address
          </h4>
          <div class="contact_link_box">
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                Location
              </span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Call +01 1234567890
              </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                demo@gmail.com
              </span>
            </a>
          </div>
        </div>
        <div class="info_social">
          <a href="">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-0">
        <h4>
          Get in Touch
        </h4>
        <form action="#">
          <input type="text" placeholder="Enter email" />
          <button type="submit">
            Subscribe
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- footer section -->
{% endblock body %}
<!-- end info section -->